asgiref==3.10.0
certifi==2025.11.12
cffi==2.0.0
charset-normalizer==3.4.4
cryptography==46.0.3
dj-database-url==3.0.1
Django==5.2.8
gunicorn==23.0.0
idna==3.11
MarkupSafe==3.0.3
packaging==25.0
psycopg2-binary==2.9.11
pycparser==2.23
python-dateutil==2.9.0.post0
python-http-client==3.3.7
requests==2.32.5
resend==2.19.0
sendgrid==6.12.5
sib-api-v3-sdk==7.6.0
six==1.17.0
sqlparse==0.5.3
typing_extensions==4.15.0
urllib3==2.6.2
Werkzeug==3.1.4
whitenoise==6.11.0
