{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Controle de Gastos{% endblock %}</title>

  <link rel="stylesheet" href="{% static 'css/tailwind.css' %}">

  {% block extra_head %}{% endblock %}
</head>
<body class="flex flex-col min-h-screen bg-gray-100 text-gray-800">
{% if logado %}
    {% if user.is_authenticated %}
        {% include "partials/header.html" %}
    {% else %}
        {% url 'controledegastos:login' as redirect_to %}
        {% if redirect_to %}
        <script>
            window.location.href = "{{ redirect_to }}";
        </script>
        {% endif %}
    {% endif %}
{% endif %}

  <main class="flex-1 max-w-7xl w-full mx-auto px-4 py-6">
    {% block content %}{% endblock %}
  </main>

{% if logado %}
  {% include "partials/footer.html" %}
{% endif %}

  {% block extra_js %}{% endblock %}
</body>
</html>
